<%= form_with(model: [@cloth,@episode], local: true) do |form| %>
  <% if episode.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
        <% episode.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <%= form.label :image, style: "display: block" %>
    <% if @episode.image.present? %>
      <div>
        <%= image_tag(@episode.image_url, size: "100x100") %>
      </div>
    <% end %>
    <%= form.file_field :image %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
