<h1>Your Chat Rooms</h1>
#userlistの検索結果で表示されるPでもチャット開始可能にする
#チャットルームを作成するためのフォーム
<%= form_with url: rooms_path, method: :post do |f| %>
  <%= f.label :user_id, "メッセージを送る相手を選択してください:" %>
  <%= f.collection_select :user_id, User.all, :id, :name %>
  <%= f.submit "メッセージルームを作成する" %>
<% end %>

#すでに作成されているチャットルームのリストを表示
<ul>
  <% @rooms.each do |room| %>
    <li><%= link_to "Chat with #{room.users.where.not(id: current_user.id).first.name}", room_path(room) %></li>
  <% end %>
</ul>
