<%= link_to 'New Cloth', new_cloth_path %>
<h1>アイテム一覧</h1>

<table>
  <body>
    <% @cloths.each do |cloth| %>
      <p> cloth_name <%= cloth.name %></p>
      <p> description <%= cloth.description %></p>
      <p><%= render 'cloths/tag_list', tag_list: cloth.tag_list %></p>
      <p><%= link_to 'Show', cloth_path(cloth) %></p>
      <p><%= link_to 'Edit', edit_cloth_path(cloth) %></p>
      <p><%= button_to 'Destroy', cloth, method: :delete, data: { turbo_method: :delete } %></p>
    <% end %>
  </body>
</table>
